# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg-info/
*.egg

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environments
.env
.venv
env/
virtualenv/
venv/

# Testing
.pytest_cache/
.coverage
.mypy_cache/
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/

# PyInstaller
*.spec

# Readthedocs
.readthedocs/

# Type checking
.pyre/
.pytype/

# Miscellaneous
*.bak
*.swp
*~
.DS_Store
